* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
/* regole blocco principale */
#wrapper {
    display: flex;
    height: calc(100vh - 100px);
    /* DEBUG */
    /* background-color: brown; */
}
.white_text {
    color: white;
}
a {
    text-decoration: none;
}
.hov :hover {
    color: white;
}
/* blocco navigazione */
#wrapper nav {
    height: 100%;
    width: 250px;
    background-color: black;
    padding: 10px 0px;
}
#wrapper section {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
/* LOGO */
#logo {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#logo-small {
    display: none;
}

/* menu navigazione home */
.container-home {
    display: flex;
    flex-direction: column;
    line-height: 35px;
    font-size: 14px;
}
.container-home a {
    text-decoration: none;
    color: gray;
}

.icon {
    width: 25px;
    margin-right: 5px;
    float: left;
    margin-top: 4px;
}

/* menu navigazione playlist */
#playlist {
    margin-top: 15px;
}
#playlist div {
    display: flex;
    color: gray;
    margin-top: 10px;
}
.fa-square-plus {
    font-size: 45px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: -5px;
    float: left;
}
#playlist li {
    list-style: none;
    font-size: 12px;
}
#playlist ul {
    line-height: 30px;
    overflow: auto;
    height: calc(100vh - 500px);
}
/* regole seconda parte del nav */
#download-text {
    color: gray;
    font-size: 13px;
}
#download {
    width: 18px;
    margin-top: 2px;
    float: left;
    margin-right: 10px;
}
.installa {
    color: gray;
    font-size: 13px;
}
.border {
    border: 1px solid gray;
    margin-top: 8px;
    margin-bottom: 13px;
}
#profile {
    width: 25px;
    background-color: gray;
    border-radius: 18px;
    padding: 2px;
    float: inline-start;
    margin-top: -4px;
    margin-right: 10px;
}
#name {
    color: white;
    font-size: 17px;
    font-weight: bold;
}

/* blocco main*/
#wrapper main {
    height: 100%;
    width: calc(100% - 250px);
    margin: 0 auto;
    overflow: auto;
    /* DEBUG */
    /* background-color: aquamarine; */
}
/* REGOLE HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 80px;
    width: calc(100% - 250px);
    padding: 10px;
    /* margin: 0 auto; */
    background-color: rgba(0, 6, 27, 0.5);
    z-index: 100;
    position: fixed;
 }

header a {
    font-size: 14px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 25px;
    position: fixed;
    z-index: 100;
    right: 10px;
    top: 25px;
}
/* REGOLE MAIN */
main {
    background-color: rgb(16, 19, 26);
    width: 100%;
}
#container-mininav {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 25px;
    margin-top: 80px;
}
#container-mininav a {
    color: gray;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 30px;
}

#container-mininav a:hover {
    color: white;
}

/* INIZIO PRIMA SECTION DEL MAIN */
h1 {
    padding-left: 20px;
    color: white;
}
.primasection {
    display: flex;
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}
.song {
    width: 15%;;
}
.foto {
    width: 100%;
    position: relative;
    /* debug */
    /* background-color: bisque; */
}
.transparent {
    display: none;
    position: absolute;
    width: 100%;
    height: 99%;
    background-color: rgba(14, 14, 14, 0.7);
    top: 0;
    text-align: center;
    padding-top: 35%;
}
.circle-play {
    font-size: 65px;
    color: white;
}
.foto:hover .transparent {
    display: block;
}
.primasection img {
    width: 100%;
}

.white {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
}
.gray {
    color: gray;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}
h2 {
    text-align: left;
    color: gray;
    margin-left: 20px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.radius {
    border-radius: 200px;
}

/* regole footer/player */
#player {
    display: flex;
    height: 100px;
    background-color: rgb(46, 46, 46);
}

/* REGOLE DEL BRANO PRIMA PARTE DEL FOOTER */
.brano {
    width: 15%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    /* debug */
    /* background-color: aqua;
    height: 100px; */

}
.brano img {
    width: 55px;
    margin-left: 5px;
}
.brano h4 {
    color: white;
    font-size: 14px;
    font-weight: 800;
    /* margin-left: -10px;
    margin-bottom: -4px; */
}
.brano .hov2 {
    color: gray;
    font-size: 11px;
    /* margin-left: -10px; */
}
#awsome {
    display: flex;
    gap: 10px;
    font-size: 15px;

}
#awsome a {
    color: gray;
}

.hov2:hover {
    color: white;
    text-decoration: underline;
}

/* REGOLE DEL PLAYER PARTE CENTRALE DEL FOOTER/PLAYER */
.play {
    width: 70%;
    padding: 10px;
    /* margin: 0 auto; */
    /* debug */
    /* background-color: aqua;
    height: 100px; */
}
.container-command {
    justify-content: center;
    display: flex;
    gap: 35px;
}
.solid {
    color: white;
    font-size: 25px;
    margin-top: 8px;
}
.regular {
    color: white;
    font-size: 35px;
    padding: 0 5px;
}
.hovbig:hover {
    transform: scale(1.1);
}
#container-border {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
}
.bordermusic {
    display: flex;
    width: 50%;
    background-color: gray;
    border-radius: 30px;
    border: 1px solid gray;
    margin-top: 8px;
    margin-bottom: 13px;
}
.border1 {
    width: 20%;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 30px;
}
.hovgreen:hover {
    width: 20%;
    border: 2px solid rgb(132, 209, 88);
    border-radius: 30px;
    position: relative;
}
/* .ball {
    background-color: white;
    border-radius: 50px;
    padding: 8px;
    position: absolute;
    right: 0;
    bottom: 4px;
    top: 0px;
} */
.min {
    color: white;
    font-size: 13px;
    margin-top: 3px;
}

/* REGOLE DEL VOLUME PARTE FINALE DEL FOOTER/PLAYER */

.volume {
    width: 15%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.volume .fa-solid {
    color: white;
    margin-bottom: 4px;
}

/* RESPONSIVE PER MOBILE XS */
@media screen and (max-width: 468px) {

    /* REGOLE NAV */
    #logo {
        display: none;
    }
    #logo-small {
        display: inline;
        width: 25px;
        margin-bottom: 10px;
    }
    .text-plus {
        display: none;
    }
    .icon {
        margin-bottom: 5px;
    }
    #wrapper nav {
        width: 50px;
        padding: 10px;
    }
    #container-profile {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    #download {
        margin-left: 2px;
    }
    /* HEADER */
    header {
        width: calc(100% - 50px);
     }
     
    /* MAIN */
    #wrapper main {
        width: calc(100% - 50px);
    }
    .primasection {
        width: 100%;
        gap: 10px;
    }
    .song {
        width: 48%;;
    }

    .white {
        color: white;
        text-align: center;
        margin-top: 10px;
    }
    .gray {
        color: gray;
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
    }
    /* footer */
    footer {
        padding: 10px 5px;
        height: 80px;
    }
    /* prima parte del footer */
    .brano {
        padding: 10px 10px;
    }
    .brano h4 {
        font-size: 12px;
    }
    .brano .hov2 {
        color: gray;
        font-size: 8px;
        margin-left: -10px;
    }
    #awsome {
        gap: 5px;
        font-size: 10px;
        margin-left: 13px;
    }
    #awsome a {
        color: gray;
    }
    
    .hov2:hover {
        color: white;
        text-decoration: underline;
    }
    /* parte centrale del footer */
    .container-command {
        gap: 5px;
    }
    .solid {
        font-size: 15px;
    }
    .regular {
        font-size: 20px;
    }
    .min {
        font-size: 10px;
    }
    /* ultima parte del footer */
    .volume {
        padding: 10px 5px;
        gap: 15px;
    }
    .volume .fa-solid {
        font-size: 10px;
        margin-left: -px;
    }
    .bordermusic {
        margin-left: -10px;
        margin-right: -10px;
    }
}

@media screen and (max-width: 768px) {
    /* nav */
    #wrapper nav {
        width: 200px;
        padding: 10px;
    }
    /* HEADER */
    header {
        width: calc(100% - 200px);
     }
    /* MAIN */
    #wrapper main {
        width: calc(100% - 200px);
    }
    .primasection {
        gap: 10px;
    }
    .white {
        font-size: 12px;
        margin-top: 5px;
    }
    .gray {
        font-size: 8px;
        margin-top: 5px;
    }
    .song {
        width: 23%;
    }
    /* MINI NAV DEL MAIN */
    #container-mininav a {
        font-size: 12px;
    }
    .scopri {
        margin-top: -20px;
    }
    /* FOOTER */
    .brano img {
        margin-right: 10px;
    }
    #awsome {
        margin-left: 15px;
        flex-wrap: wrap;
    }
    .volume .fa-solid {
        font-size: 10px;
        margin-left: -10px;
    }
    .container-command .fa-solid {
        font-size: 14px;
    }
    .container-command .fa-regular {
        font-size: 25px;
    }
    .min {
        font-size: 10px;
    }
    .bordermusic {
        margin-top: 10px;
    }
}